.timeline {
  margin-top: 30px;
}

.timeline p.headline {
  margin-top: 0;
}

.timeline-entry {
  margin-bottom: 10px;
}

.timeline-entry:last-of-type {
  margin-bottom: 0px;
}

.timeline-entry-chip {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.timeline-entries {
  display: inline-block;
}

.timeline-entry p {
  margin-top: 10px !important;
  padding-left: 10px;
}

.timeline-entry h3 {
  margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');

#container {
  color: #4e5050;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  width: 100%;
  display: block;

  position: absolute;
  top: 30px;
  text-align: center;

}

#flip {
  height: 50px;
  overflow: hidden;
}

#flip > div > div {
  color: #fff;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background: #42c58a;
}

#flip div:first-child div {
  background: #4ec7f3;
}

#flip div:last-child div {
  background: #DC143C;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

#container p {
  position: fixed;
  width: 100%;
  bottom: 30px;
  font-size: 12px;
  color: #999;
  margin-top: 200px;
}
